.trend{
    background-image: url("https://wallpapers.com/images/hd/trending-purple-apple-macbook-logo-broken-glass-abirsqrb9sb6ohlw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}



.header1 {
    color: rgb(214, 12, 147);
    text-shadow: 0 0 3px #00ccff, 0 0 5px #1eff00;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 5%;
    margin-left: -60%;
    transition: transform 0.7s ease;
}

.header1:hover {
    transform: scale(1.7);
}

